@model IEnumerable<BW_Team_5_ClinicaVeterinaria.Models.Prodotti>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Cassetti.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Categoria.Tiplogia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fornitori.RagioneSociale)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descrizione)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QuantitaDisponibile)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrezzoUnitario)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Cassetti.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Categoria.Tiplogia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fornitori.RagioneSociale)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descrizione)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QuantitaDisponibile)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PrezzoUnitario)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdProdotti }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdProdotti }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdProdotti })
        </td>
    </tr>
}

</table>
