@model IEnumerable<BW_Team_5_ClinicaVeterinaria.Models.Prodotti>

@{
    ViewBag.Title = "Index";
}

<h2 class="text-center my-3">Lista prodotti</h2>
<div class="table-responsive">
    <table class="container table table-active">
        <tr>
            <th>
                Armadietto
            </th> 
            <th>
                Cassetto 
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Categoria.Tiplogia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fornitori.RagioneSociale)
            </th>
            <th>
                Nome
            </th>
            <th>
                Descrizione
            </th>
            <th>
                Quantità Disponibile
            </th>
            <th>
                Prezzo Unitario
            </th>
            <th>
                <a href="Prodotti/Create"><i class="fa-solid fa-plus" style="color: #288d8f;"></i></a>
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Cassetti.Armadietti.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cassetti.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Categoria.Tiplogia)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fornitori.RagioneSociale)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descrizione)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.QuantitaDisponibile)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PrezzoUnitario)
                </td>
                <td>
                    <a href="Prodotti/Edit?id=@item.IdProdotti"><i class="fa-regular fa-pen-to-square" style="color: #288d8f;"></i></a>
                    <a href="Prodotti/Details?id=@item.IdProdotti"><i class="fa-solid fa-circle-info" style="color: #288d8f;"></i></a>
                    <a href="Prodotti/Delete?id=@item.IdProdotti"><i class="fa-regular fa-trash-can" style="color: #288d8f;"></i></a>
                </td>
            </tr>
        }

    </table>
</div>