@model BW_Team_5_ClinicaVeterinaria.Models.Visite

@{
    ViewBag.Title = "Create";
}

<h2>Nuova visita di @ViewBag.IdPaziente</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(model => model.IdPaziente)

    @Html.Partial("_CreateEditVisita")


    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Salva" class="btn btn-default" />
        </div>
    </div>

}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
