@model IEnumerable<BW_Team_5_ClinicaVeterinaria.Models.Visite>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Paziente.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Data)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descrizione)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ananmnesi)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Paziente.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Data)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descrizione)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ananmnesi)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.IdVisite }) |
            @Html.ActionLink("Details", "Details", new { id = item.IdVisite }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.IdVisite })
        </td>
    </tr>
}

</table>
