@model BW_Team_5_ClinicaVeterinaria.Models.Ordinis

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Ordinis</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Clienti.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Clienti.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataOrdine)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataOrdine)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotaleOrdine)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotaleOrdine)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdOrdini }) |
    @Html.ActionLink("Back to List", "Index")
</p>
