@model BW_Team_5_ClinicaVeterinaria.Models.Clienti

@{
    ViewBag.Title = "Details";
}

<h2>Dettagli cliente</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cognome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cognome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefono)
        </dd>
        <dd>
            @Html.DisplayFor(model => model.CodiceFiscale)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdClienti }) |
    @Html.ActionLink("Torna alla lista dei clienti", "Index")
</p>
