@model BW_Team_5_ClinicaVeterinaria.Models.Fornitori

@{
    ViewBag.Title = "Details";
}

<div>
    <h4>Dettaglio fornitore</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RagioneSociale)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RagioneSociale)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Indirizzo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Indirizzo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Piva)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Piva)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Citta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Citta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Recapito)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Recapito)
        </dd>

    </dl>
</div>
<div class="btn-group">
    @Html.ActionLink("Lista fornitori", "Index", new { id = Model.IdFornitori }, new { @class = "btn btn-primary" })
</div>
