@model BW_Team_5_ClinicaVeterinaria.Models.TipoPaziente

@{
    ViewBag.Title = "Edit";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="container">
    <h4>Modifica tipo paziente</h4>
    <hr />
    <div class="card mb-3">
        <div class="row g-0">
            <div class="col-md-8">
                <div class="form-horizontal" style="padding-left: 100px; padding-right: 100px">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.IdTipo)

                    <div class="form-group">
                        <div class="col-md-10">
                            <div class="form-outline mt-5">
                                @Html.EditorFor(model => model.Tipologia, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.LabelFor(model => model.Tipologia, new { @class = "form-label" })
                            </div>
                            @Html.ValidationMessageFor(model => model.Tipologia, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <br />
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Salva modifiche" class="btn btn-primary" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <img src="https://www.amando.it/imagesdyn/articoli/142/44/400/132546.jpg" alt="Immagine" class="img-fluid rounded-start" />
            </div>
        </div>
    </div>
</div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
