@model BW_Team_5_ClinicaVeterinaria.Models.Paziente

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Paziente</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Clienti.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Clienti.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoPaziente.Tipologia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoPaziente.Tipologia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataNascita)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataNascita)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ColoreMantello)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ColoreMantello)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Microchip)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Microchip)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Foto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Foto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsHospitalized)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsHospitalized)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
