@model BW_Team_5_ClinicaVeterinaria.Models.Paziente

@{
    ViewBag.Title = "DettagliPaziente";
}

<h2>Dettagli Paziente</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Clienti.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Clienti.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoPaziente.Tipologia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoPaziente.Tipologia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataNascita)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataNascita)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ColoreMantello)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ColoreMantello)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Microchip)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Microchip)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Foto)
        </dt>

        <dd>
            <img class="img-fluid" src="~/Content/img/@Model.Foto" alt="Alternate Text" />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsHospitalized)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsHospitalized)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdPaziente }) |
    @Html.ActionLink("Back to List", "Index")
</p>
