@model IEnumerable<BW_Team_5_ClinicaVeterinaria.Models.Paziente>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Clienti.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipoPaziente.Tipologia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataNascita)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ColoreMantello)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Microchip)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Foto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsHospitalized)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Clienti.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TipoPaziente.Tipologia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataNascita)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ColoreMantello)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Microchip)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Foto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsHospitalized)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdPaziente }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdPaziente }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdPaziente })
        </td>
    </tr>
}

</table>
