@model BW_Team_5_ClinicaVeterinaria.Models.Utente

<section>
    <div class="container h-100 ">
        <div class="row d-flex align-items-center justify-content-center h-100">
            <div class="col-md-8 col-lg-7 col-xl-6">
                <img src="~/Content/Img/pexels-sam-lion-5733422.jpg"
                     class="img-fluid" alt="Phone image" style="max-height: 800px">
            </div>
            <div class="col-md-4 col-lg-5 col-xl-5 offset-xl-1 m-0">
                <h3>Inserisci i tuoi dati</h3>
                <!-- Name input -->
                <div class="form-outline mb-4">
                    @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control", @id = "Nome" } })
                    @Html.LabelFor(model => model.Nome, htmlAttributes: new { @class = "form-label", @for = "Nome" })
                </div>
                @Html.ValidationMessageFor(model => model.Nome, "", new { @class = "text-danger" })
                <!-- Cognome input -->
                <div class="form-outline mb-4">
                    @Html.EditorFor(model => model.Cognome, new { htmlAttributes = new { @class = "form-control", @id = "Cognome" } })
                    @Html.LabelFor(model => model.Cognome, htmlAttributes: new { @class = "form-label", @for = "Cognome" })
                </div>
                @Html.ValidationMessageFor(model => model.Cognome, "", new { @class = "text-danger" })
                <!-- Email input -->
                <div class="form-outline mb-4">
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @id = "Email" } })
                    @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "form-label", @for = "Email" })
                </div>
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                <!-- Password input -->
                <div class="form-outline mb-4">
                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", @id = "Password", type = "password" } })
                    @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "form-label", @for = "Password" })
                </div>
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                <div class="form-outline mb-4">
                    @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control", @id = "Password", type = "password" } })
                    @Html.LabelFor(model => model.ConfirmPassword, htmlAttributes: new { @class = "form-label", @for = "Password" })
                </div>
                @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                
                @if (ViewBag.password != null)
                {
                <p class="text-danger">
                    @ViewBag.password
                </p>

                }
                <!-- Submit button -->
                <button type="submit" class="btn btn-primary btn-lg btn-block">Sign in</button>



            </div>
        </div>
    </div>
</section>